
<div ng-repeat="ct in apps.contentList">
	<!-- 	<a href="" ng-click="showApp(ct.videoId)">{{ct.title}}</a>  -->

	<div class="col-sm-6 col-md-3 isotope-item app-development">
		<div class="image-box">
			<div class="overlay-container">
				<img src="{{ct.largeThumbnailUrl}}" alt=""> <a class="overlay"
					data-toggle="modal" data-target="#project-{{ct.videoId}}"> <i
					class="fa fa-search-plus"></i> <span>Click to See the detail</span>
				</a>
			</div>
			<a class="btn btn-default btn-block" data-toggle="modal"
				style="float: left; ellipsis; white-space: nowrap; overflow: hidden; word-wrap: break-word"
				data-target="#project-{{ct.videoId}}">{{ct.title}}</a>
		</div>






		<!--  Modal Section -->
		<div class="modal fade" id="project-{{ct.videoId}}" tabindex="-1"
			role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h5 class="modal-title" id="project-{{ct.videoId}}-label">
							{{ct.title}}
							</h4>
					</div>
					<div class="modal-body">
						<h3>{{ct.title}}</h3>
						<div class="row">
							<div class="col-md-6">
								{{ct.description}} <a
									href="/rest/Gate/GetFile?command=content&subCommand=contentInfo&param={&quot;contentId&quot;:&quot;{{ct.videoId}}&quot;}">{{ct.videoId}}</a>
							</div>
							<div class="col-md-6">
								<img src="{{ct.largeThumbnailUrl}}" alt="">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-default"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>








	



