<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Behnam Hajian Tutorial Template</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/business-casual.css" rel="stylesheet">

<!-- Fonts -->
	<link
		href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
		rel="stylesheet" type="text/css">
	<link
		href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
		rel="stylesheet" type="text/css">
	<script src="js/library/angular.min.js"></script>
<!-- jQuery -->
	<script src="js/library/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/library/bootstrap.min.js"></script>
	

</head>

<body>

	<div class="brand">Behnam Hajian Tutorial Template</div>


	<!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1"></button>
				<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
				<a class="navbar-brand" href="index.html">Business Casual</a>
			</div>

		</div>
		<!-- /.container -->
	</nav>

	<div class="container">

		<div class="row">
			<div class="box">
				<div class="col-lg-12 text-center">
					<div id="carousel-example-generic" class="carousel slide">
						<!-- Indicators -->
						<ol class="carousel-indicators hidden-xs">
							<li data-target="#carousel-example-generic" data-slide-to="0"
								class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic"
							data-slide="prev"> <span class="icon-prev"></span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic" data-slide="next"> <span
							class="icon-next"></span>
						</a>
					</div>
					<h2 class="brand-before">
						<small>Welcome to</small>
					</h2>
					<h1 class="brand-name">My tutorial template</h1>
					<hr class="tagline-divider">

					<div ng-app="mainApp" ng-controller="userController">
						<form name="userForm" novalidate>
							<table border="0">
								<tr>
									<td>Enter first name:</td>
									<td><input type="text" ng-model="name"></td>
								</tr>
								<tr>
									<td>Enter last name:</td>
									<td><input type="text" ng-model="lastName"></td>
								</tr>
								<tr>
									<td><button ng-click="reset();" class="btn btn-default">Reset</button></td>
									<td><button ng-click="submit();" class="btn btn-default">Submit</button></td>
								</tr>
							</table>
						</form>
						<ng-include src="view"></ng-include>
					</div>

				</div>
			</div>
		</div>



	</div>
	<!-- /.container -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Copyright &copy; Behnam Hajian template 2015</p>
				</div>
			</div>
		</div>
	</footer>

	
	<script>
		var mainApp = angular.module("mainApp", []);

		mainApp.controller("userController", function($scope, $http, $templateCache) {
			$scope.listApps = function() {
				$http(
					{method: 'GET', url: './rest/Gate/GetData', 
					headers: { 'command': 'user', 'subCommand' : 'getUsers' , 'param':'' } 
					, cache: $templateCache}).
					success(function(data, status, headers, config) {
				    	$scope.users = data;                  //set view model
				    	$scope.view = './view/list.html'; //set to list view
				    	
					}).
					error(function(data, status, headers, config) {
						$scope.users = data || "Request failed";
						$scope.status = status;
						$scope.view = './view/list.html';
					});
			}
			$scope.reset = function(){
		        $scope.name = "";
		        $scope.lastName = "";
		  	}
			$scope.submit = function() {
				var paramValue = '{"name" : "'+$scope.name+'", "lastName":"'+$scope.lastName+'"}';
				
				$http(
					{
						method: 'POST', 
						url: './rest/Gate/PostData',
						data: {'param':paramValue },
						headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'command': 'user', 'subCommand' : 'createUser' , 'param':paramValue } ,
						cache: $templateCache}).
					success(function(data, status, headers, config) {
				    	$scope.users.userList.push({
				    		name : $scope.name,
				    		lastName : $scope.lastName
				    	});
				    	$scope.view = './view/list.html'; //set to list view
					}).
					error(function(data, status, headers, config) {
						$scope.users = data || "Request failed";
						$scope.status = status;
						$scope.view = './view/list.html';
					});
			}
			$scope.view = './view//list.html'; //set default view
			$scope.listApps();
		});
		
	</script>

</body>

</html>
